In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('D:/桌面/heart.csv')
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
# This defines data type
for column in data.columns:
    data_type = data[column].dtype
    print(f"Column '{column}' has data type: {data_type}")

Column 'Age' has data type: int64
Column 'Sex' has data type: object
Column 'ChestPainType' has data type: object
Column 'RestingBP' has data type: int64
Column 'Cholesterol' has data type: int64
Column 'FastingBS' has data type: int64
Column 'RestingECG' has data type: object
Column 'MaxHR' has data type: int64
Column 'ExerciseAngina' has data type: object
Column 'Oldpeak' has data type: float64
Column 'ST_Slope' has data type: object
Column 'HeartDisease' has data type: int64

In [4]:
# Apply label encoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for column in data.columns:
    if data[column].dtype == object:
        data[column] = le.fit_transform(data[column])
        
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [ ]:
data.to_csv('D:/桌面/heart_processed.csv')